<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url(https://media.istockphoto.com/id/1350085520/vector/trends-button-abstract-design-elements-background.jpg?s=612x612&w=0&k=20&c=-D9n6mUBK01f19tt25Y0GyS35KQ97Rv17TLDDh4AOlc=);
            background-repeat: no-repeat;
            background-size: 100vw 180vh;
        }

        form {
            width: 50vw;
            margin: auto;

        }
        .container{
            border-radius: 20px;
            background-color: rgba(185, 126, 241);
            opacity: .8;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




</head>
<nav class="navbar navbar-expand-sm bg-dark">
    <ul class="nav justify-content-center">

        <li class="nav-item"><a href="home.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="signin.html" class="nav-link">Signin</a></li>
        <li class="nav-item"><a href="signup.html" class="nav-link">Signup</a></li>
    </ul>
</nav>

<body>
    <h1 class="text-dark text-center">SIGNUP</h1>

        <form class="was-validated" action="">
            <div class="form-group">
                <label for="">First Name</label>
                <input required type="text" class="form-control">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">plz fillout this</div>
            </div>
        </form>
        <form action="" class="was-validated">
            <div class="form-group">
                <label for="">Last Name</label>
                <input required type="text" class="form-control">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">plz Fillout this</div>
            </div>
        </form>
        <form action="" class="was-validated">
            <div class="form-group">
                <label for="">Age</label>
                <input required type="text" class="form-control">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">plz Fillout this</div>
            </div>
        </form>
        <form action="" class="was-validated">
            <div class="form-group">
                <label for="">Gender</label>
                <input required type="radio" name="gen" value="M">
                <label for="male">Male</label>
                <input required type="radio" name="gen" value="f">
                <label for="female">Female</label>
                <input required type="radio" name="gen" value="o">
                <label for="other">Other</label><br><br>
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">plz Fillout this</div>
            </div>
        </form>
        <form class="was-validated" action="">
            <div class="form-group">
                <label for="">Address</label>
                <input required type="textarea" class="form-control">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">plz Fillout this</div>

            </div>
        </form>
        <form class="was-validated" action="">
            <div class="form-group">
                <label for="">Email ID</label>
                <input required class="form-control" type="text">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">plz Fillout this</div>
            </div>

        </form>

        <form class="was-validated" action="">
            <div class="form-group">
                <label for="">Password</label>
                <input required class="form-control" type="text">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">plz Fillout this</div>
            </div>

        </form>
        <form class="was-validated" action="">
            <div class="form-group">
                <label for="">Confirm Password</label>
                <input required class="form-control" type="text">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">plz Fillout this</div>
            </div>

        </form>
        <form action="">
            <button class="btn-secondary" style="text-align: center;">Submit</button>
        </form>

    
</body>

</html>